
main{
  border-radius: 8px;
  padding-bottom:8vh ;
  margin-bottom:10vh ;
  margin: 5vh 20vw 10vh 20vw;



}


.full{
  width:50vw;
  height:65vh;
  margin-left:4vw;
  margin-top:1vh;

}

.mapBar{


  justify-content: space-evenly;

  .bi{
    font-size:24px;
  }
  button{



    .plus{
      color:white;
    }
  }
}




