<header>
  <article class="mt-4 mb-5 text-center">
    <h2 class="text-primary fs-1">Introduction</h2>
      <p>This app is aimed for all the people (like myself
      <i class="bi bi-emoji-laughing"></i>) who always forget/struggle to remember and therefore complete their daily tasks.
      For instance, everybody must have experienced that frustrating sensation when we pass in front of the shop we've been meaning to go for weeks, sometimes months and yet again we managed to forget about it or even worse, we just ignored it and procrastination took the best out of us.
      Geo-Reminders comes in handy by allowing you to place a gps marker on the map and put a reminder
      on it, that will instantly send you a notification as soon as you will get nearby the designated area, finally enabling you to get rid of that sense of guilt that you would have otherwise experienced, if you came back home without having completed your tasks as you did many other times before.
    </p>
  </article>

</header>

<main class="text-center">

  <h1 class="title text-center text-primary">How to use it</h1>

  <article class="mb-5">


    <h3 class="text-primary">Start</h3>
    <p>
      at the opening of the application yuo will see a map,whit an orange marker
      on it, this is the home marker, and is your current position.
    </p>

    <h3 class="text-primary">Add markers</h3>
    <p>
      You can add a marker to the map by clicking the add markers button (
      <i class="bi bi-bookmark-plus plus"></i> ),. This button will show a
      little window where you can write a reminder, when you have done just
      click the button "remind me", or "close" if you don't want to add a
      marker.
    </p>

    <h3 class="text-primary">Place the marker and set the reminder</h3>
    <p>
      After the procedure below, a marker will appear on the map at you
      position, just drag it in the place of the map that you want to mark.
      After that you can press the scan button (
      <i class="bi bi-binoculars"></i> ), this button will save the position of
      the marker and the reminder asswell, so if you will close and restart the
      application will keep memory of your reminders. (ps: this procedure is
      binding for making the application works).
    </p>

    <h3 class="text-primary">Clear reminders</h3>
    <p>
      If you want to remove all the reminders that you placed you can just click
      on the clear button ( <i class="bi bi-trash"></i> ), if you want to remove
      a specific reminder or edit the reminder it self you can go to the
      <a href="/reminders">Reminders page</a> where you can manage and see all
      your reminders.
    </p>
  </article>
</main>

<footer></footer>
